@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Нормативни актове:<br />

    Безопасността в железопътния транспорт се осигурява чрез прилагане на системен подход за изпълнение на изискванията на съответното европейско и национално законодателство, национални правила за безопасност и общоприложими изисквания към участниците в железопътния транспорт, включително чрез правилата, приети от управителя на железопътната инфраструктура.
</p>
