@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    Информация и контакти
    "БДЖ-Пътнически превози" ЕООД е железопътен превозвач със над 130 годишна история.

    Адрес: ул. Иван Вазов № 3, София, 1080
    Телефон за информация и сигнали на граждани: 0700 10 200
    Факс: (+359 2) 987 88 69
    Е-mail: bdz_passengers@bdz.bg
</address>

<address>
    <strong>Support:</strong>   <a href="https://www.bdz.bg/bg">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.bdz.bg/bg">Marketing@example.com</a>
</address>