@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>БДЖ</h1>
    <p class="lead">
        „Български държавни железници“ ЕАД (БДЖ) е държавно предприятие в България,
        най-големият железопътен оператор в страната.
    </p>
    <p><a href="https://www.bdz.bg/bg" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Нашата финкционалност:</h2>
        <p>
            Системата позволява на пътуващи да резервират билети и
            обслужва администрацията на влакове и превози.
            В системата има два вида потребители: администратори и клиенти
        </p>
       
    </div>
   
</div>